body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root { 
  --main-colour: #212529;
} 

.home {
  line-height: 1.6em;
}

main {
  margin: 1em;
}

.comment-cards {
  margin-top: 2.5em;
}

@media only screen and (min-width: 768px) {

  .home {
    width: 90%;
    margin: auto;
    overflow: hidden;
  }

  main {
    margin: 0;
    max-width: none;
  }

  .article-cards {
    width: 70%;
    float: right;
    box-sizing: border-box;
    padding: 30px 0;
    padding: none;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .loading {
    width: 45%;
    float: right;
    box-sizing: border-box;
    padding: 30px 0;
    padding: none;
    margin-top: 5em;
    margin-bottom: 1em;
  }

  .filter-form {
    margin-top: 1em;
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 27px 0px;
  }

  .not-found {
    margin-top: 5em;
  }

  .topic-loading {
    width: 45%;
    float: right;
    box-sizing: border-box;
    margin-top: -4%;
  }
}


.article-card {
  max-width: 100%;
}

.loading {
  max-width: 100%;
  margin-left: 45%;
}

nav {
  width: 100%;
}

p a {
  color:#707070;
  text-decoration: none;
}

p a:hover {
  text-decoration: none;
}

.article-topic {
  line-height: 0.8;
  font-size: .9em;
  color: #707070;
}

.article-link {
  text-decoration: none;
}

.article-link:hover {
  text-decoration: none;
}

.article-author {
  line-height: 0.8;
  font-size: .9em;
  color: #707070;
}

.article {
  color: var(--main-colour);
  text-align: center;
  margin-top: 5em;
}

.article-page-topic {
  color: #707070;
  text-align: left;
  font-weight: lighter;
  font-style: italic;

}

.article-page-author {
  color: #707070;
  text-align: right;
  font-weight: lighter;
  font-style: italic;

}

.article-page-date {
  color: #707070;
  text-align: left;
  padding-bottom: 1em;
  font-weight: lighter;
  font-style: italic;
}

.article-page-title {
  margin: 1em;
}

.article-page-body {
  padding: 1em 0;
  text-align: left;
}

footer {
  color: white;
  text-align: center;
}
footer p {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: smaller;
  margin: 1vw;
  padding: 2.5vw;
}

div a {
  color: var(--main-colour) !important;
  text-decoration: solid;
}

nav div a {
  color: white !important
}

.comments-section {
  text-align: left;
  padding: 1em;
}

.comments-section h6 {
  font-weight: normal;
  font-size: smaller;
}

.comments-section h4 {
  padding-bottom: .5em;
}

.comment-card {
  margin: 1em;
}

.comment-card h6 {
  line-height: 1.5em;
  padding-bottom: 1em;
}

.likes {
  font-style: italic;
  font-size: .8em;
}

.dropdown-item {
  color: var(--main-colour) !important;
}

.vote-button {
  display: block;
  margin-bottom: 1em;
  border-radius: .2em;
  color:#212529;
  background-color: white;
}

button:disabled {
  background-color: var(--main-colour);
  color: white;
}

.comment-bottom button {
  font-size: .9em;
  padding: 5px;
}

.comment-bottom {
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

.article-card {
  margin-top: 1em;
  margin-bottom: 1em;
}

.not-found {
  text-align: center;
  font-style: italic;
  color: var(--main-colour);
}

.topic-loading {
  margin-left: 45%
}
