body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root { 
  --main-colour: #212529;
} 

main {
  max-width: 768px;
  margin: 0 auto;
}

@media only screen and (max-width: 769px) {
  main {
    margin: 1em;
  }
}

/* header {
  height: 4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: calc(100vw - 2em);
  font-size: 1em;
  padding: 1em;
} */


.article-cards {
  width: calc(100vw - 2em);
  max-width: calc(768px - 2em);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  padding: 0;
  margin-top: 5em;
  margin-bottom: 1em;
}

.article-card {
  max-width: 100%;
}

nav {
  width: 100%;
}

p a {
  color:#707070;
  text-decoration: none;
}

p a:hover {
  text-decoration: none;
}

.article-topic {
  line-height: 0.8;
  font-size: .9em;
  color: #707070;
}

.article-link {
  text-decoration: none;
}

.article-link:hover {
  text-decoration: none;
}

.article-author {
  line-height: 0.8;
  font-size: .9em;
  color: #707070;
}

.article {
  color: var(--main-colour);
  text-align: center;
  margin-top: 5em;
}

.article-page-topic {
  color: #707070;
  text-align: left;
  font-weight: lighter;
  font-style: italic;

}

.article-page-author {
  color: #707070;
  text-align: right;
  font-weight: lighter;
  font-style: italic;

}

.article-page-date {
  color: #707070;
  text-align: left;
  padding-bottom: 1em;
  font-weight: lighter;
  font-style: italic;
}

.article-page-title {
  margin: 1em;
}

.article-page-body {
  margin-bottom: 2em;
  text-align: left;
}

footer {
  color: white;
  text-align: center;
}
footer p {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: smaller;
  margin: 1vw;
  padding: 2.5vw;
}

div a {
  color: var(--main-colour) !important;
  text-decoration: solid;
}

nav div a {
  color: white !important
}

.comments-section {
  text-align: left;
  /* border: #212529 1px solid; */
  padding: 1em;
}

.comments-section h6 {
  font-weight: normal;
  font-size: smaller;
}

.comments-section h4 {
  padding-bottom: .5em;
}

.comment-card {
  margin: 1em;
}

.likes {
  font-style: italic;
  font-size: .8em;
}

.dropdown-item {
  color: var(--main-colour) !important;
}

.vote-button {
  display: block;
  margin-bottom: 1em;
  border-radius: .2em;
  color:#212529;
  background-color: white;
}

button:disabled {
  background-color: var(--main-colour);
  color: white;
}

.comment-bottom button {
  font-size: .9em;
  padding: 5px;
}

.comment-bottom {
  margin: 1em;
}